<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Healthy Pets</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/af-2.2.0/r-2.1.1/se-1.2.2/datatables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/dist/css/tooltipster.bundle.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css">
	{{{_sections.style}}}
	<link rel="stylesheet" type="text/css" href="/assets/css/styles.css">
</head>
<body>
	{{{body}}}
	<div class="footer">
		<div class="container">
			<p class="text-center">&copy; Copyright
				<script>
					document.write(new Date().getFullYear())
				</script>
			</p>
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="/assets/dist/js/tooltipster.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/v/bs/dt-1.10.15/af-2.2.0/r-2.1.1/se-1.2.2/datatables.min.js"></script> 
	{{{_sections.script}}}
	<script src="/assets/script/app.js"></script>
</body>
</html>