<div class="titan-caption">
    <div class="caption-content">
        <div class="col-sm-4 col-sm-offset-4 mb-sm-40">
            <h4 class="font-alt">Login</h4>
            <hr class="divider-w mb-10">
            <form class="form" action='/api/login' method="POST">
            <div class="form-group">
                <input class="form-control" id="username" type="text" name="username" placeholder="Username"/>
            </div>
            <div class="form-group">
                <input class="form-control" id="password" type="password" name="password" placeholder="Password"/>
            </div>
            <div class="form-group">
                <button class="btn btn-round btn-w">Login</button>
            </div>
            <div class="form-group" style='font-size: 18px;'><a href="">Forgot Password?</a><br><a href="/register">Register</a></div>
            </form>
            {{#if error}}
            {{#each error}}
                <div class="alert alert-warning" role="alert"><button class="close" type="button" data-dismiss="alert" aria-hidden="true">&times;</button><strong>Error! </strong> {{this}}</div>
            {{/each}}
            {{/if}} 
        </div>
    </div>
</div>