<!DOCTYPE html>
<html>
  <head>
    <title>Owner Profile</title>
  </head>
  <body>
    <h1>Welcome {{ownerPets.owner_fname}}</h1>
    
    <div class="container">
     <div class="row" >
         <div class="col-sm-8 col-md-8"> </div>
          <div class"col-sm-4 col-md-4">  
                {{> page/ownerPets}}
          </div>
     </div>     
  </body>
  </html>