     <!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pet Health News</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/dt-1.10.15/af-2.2.0/r-2.1.1/se-1.2.2/datatables.min.css"/>-->
	<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>-->
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="assets/dist/css/tooltipster.bundle.min.css">
	<link rel="stylesheet" type="text/css" href="assets/dist/css/plugins/tooltipster/sideTip/themes/tooltipster-sideTip-light.min.css">
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css">
    <script src="https://code.jquery.com/jquery-1.6.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.8.4/moment.min.js"></script>
    <script src="../public/assets/dist/js/plugins/jquery-rss/jquery.rss.min.js"></script>
    <script>
      jQuery(function($) {
            $("#rss-feeds").rss("http://www.vetstreet.com/rss/news-feed.jsp?Categories=siteContentTags:symptom-center:health-issues:seasonal-dangers:symptoms:adult-dog-health-conditions,dogBreedTags=health-issues",
            {
            limit: 10, 
            entryTemplate:'<ul><a href="{url}" target="_blank">{title}</a><br/>{teaserImage}</ul> <br>'
            
            })
    })
      </script>
    
</head>

<body>
  <div id="rss-feeds"></div>
</body>



</html>